.titulo{
    font-family: cursive;
    background-color: blueviolet;
    font-size:larger 50px;
    text-align: center;
    padding: 0.4%;    
}
.table{
    border-color: black;
    text-align: left;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 
}
.header{
    text-align: center;
    height: 300px;
    padding: 12px;
    background-color:blueviolet;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.user-name{
    font-size: 18px;
    margin-top: 14px;
}
.socials{
    list-style: none;
    text-align: center;
    padding: 0;
}
.socials li{
    display: inline-block;
    margin: 5px;

}
a {
    text-decoration: none;
    color: crimson;
}
a:hover{
    color: chocolate;
}
.icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    
}
.twitter{
    background-image: url("img/twitter.png");
}
.facebook{
    background-image: url("img/facebook.png");
}
.instagram{
    background-image: url("img/instagram.png");
}
.about{
    padding: 10px;

}
.about h3{
    color: gray;
    font-size: 16px;
}
.about p{
    color: gray;
    font-size: 16px;
}